<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script>
    // var callAppObject = {
    //   items: {
    //     10101: {
    //       //Home
    //       pageCode: "10101",
    //     },
    //     20101: {
    //       //Recommended
    //       pageCode: "20101",
    //       index: "1",
    //     },
    //     50101: {
    //       //H5
    //       pageCode: "50101",
    //       url: "https://www.baidu.com", // 必选：跳转的链接
    //       title: "秒杀", // 标题可选
    //     },
    //     10108: {
    //       //New Product
    //       pageCode: "10108",
    //       isNewProduct: "1", // 必选：0 表示FromOurExhibitorsPage 1表示：New Products
    //     },
    //     10112: {
    //       //Ready To Order
    //       pageCode: "10112",
    //     },
    //     100140: {
    //       //TradeShow
    //       pageCode: "100140",
    //     },
    //     10150: {
    //       //Top 20
    //       pageCode: "10150",
    //     },
    //     10201: {
    //       //pp详情
    //       pageCode: "10201",
    //       productId: "12345678", //商品 id
    //       id: "12345678", //商品 id
    //     },
    //     10501: {
    //       //pp详情
    //       pageCode: "10501",
    //     },
    //     10502: {
    //       pageCode: "10502",
    //       orderId: "123456",
    //       id: "123456",
    //     },
    //     10205: {
    //       pageCode: "10205",
    //       supplierId: "00001",
    //       id: "00001",
    //     },
    //   },
    // };
    // var utils = {
    //   joinSearch: function (obj) {
    //     var str = "";
    //     for (var item in obj) {
    //       str += item + "=" + encodeURIComponent(obj[item]) + "&";
    //     }
    //     str = str.slice(0, str.length - 1);
    //     return str;
    //   },
    //   getBrowser: (function () {
    //     var u = navigator.userAgent,
    //       app = navigator.appVersion;
    //     return {
    //       ios: u.search(/\(i[^;]+;( U;)? CPU.+Mac OS X/) > -1,
    //       android: u.indexOf("Android") > -1 || u.indexOf("Adr") > -1,
    //       weibo: u.search(/WeiBo/i) > -1,
    //       weixin: u.search(/MicroMessenger/i) > -1,
    //       qq: u.search(/\sQQ/i) > -1,
    //     };
    //   })(),
    // };
    // var appIosUrl = "https://apps.apple.com/cn/app/huan-qiu-sheng-yi-tong/id1033427795";
    // var appAndroidUrl = "https://www.globalsources.com/SITE/GSOL-MOBILE-APPS.HTM"; //Test Link
    // var noAppDownloadUrl = null;
    // if (utils.getBrowser.ios) noAppDownloadUrl = appIosUrl;
    // if (utils.getBrowser.android) noAppDownloadUrl = appAndroidUrl;

    // function openApp(pageCode, host = "tohome") {
    //   var baseScheme = "gsbuyerapp";
    //   var baseHost = host;
    //   var serachUrl = "";
    //   var callAppUrl = baseScheme + "://" + baseHost + "?";
    //   var options = {};
    //   if (utils.getBrowser.weibo || utils.getBrowser.weixin || utils.getBrowser.qq) {
    //     $(".buttonLists").hide();
    //     $(".tipBox").show();
    //     return;
    //   }
    //   if (window.location.search.length == 0) {
    //     options = callAppObject.items[pageCode];
    //     serachUrl = utils.joinSearch(options);
    //   } else {
    //     serachUrl = window.location.search.split("?")[1];
    //   }
    //   callAppUrl += serachUrl;

    //   window.location.href = callAppUrl;
    //   jumpAppDown(function () {
    //     if (!noAppDownloadUrl) return;
    //     window.location.href = noAppDownloadUrl;
    //   });
    // }
    // function jumpAppDown(func) {
    //   var visibilitychange = function () {
    //     var tag = document.hidden || document.webkitHidden;
    //     tag && clearTimeout(checkOpen);
    //   };
    //   document.addEventListener("visibilitychange", visibilitychange, false);
    //   document.addEventListener("webkitvisibilitychange", visibilitychange, false);
    //   window.addEventListener(
    //     "pagehide",
    //     function () {
    //       clearTimeout(checkOpen);
    //     },
    //     false
    //   );
    //   var checkOpen = setTimeout(() => {
    //     func();
    //   }, 3000);
    // }
    // $(function () {
      
    // });
  </script>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    .buttonLists button{
      margin:10px;
      font-size: 18px;
      padding:5px 10px;
    }
  </style>
  <body>
    <h2 style="text-align: center">Test Open App</h2>
    <div class="buttonLists">
      <button onclick="appCall.open('10101')">Home</button>
      <button onclick="appCall.open('20101')">Recommended</button>
      <button onclick="appCall.open('50101')">H5</button>
      <button onclick="appCall.open('10150')">Top 20</button>
      <button onclick="appCall.open('10108')">New Product</button>
      <button onclick="appCall.open('10112')">Ready To Order</button>
      <button onclick="appCall.open('10140')">TradeShow</button>
      <button onclick="appCall.open('10201')">PP Details</button>
      <button onclick="appCall.open('40501')">Order Lists</button>
      <button onclick="appCall.open('40502')">Order Details</button>
      <button onclick="appCall.open('10205')">supplier Details</button>
      <button onclick="appCall.open()">Not Found</button>
    </div>
  </body>
  <script>
    function OpenApp(host,scheme){
      this.baseHost = host || "tohome";
      this.baseScheme = scheme || "gsbuyerapp";
      this.appIosUrl = "https://apps.apple.com/cn/app/huan-qiu-sheng-yi-tong/id1033427795";
      this.appAndroidUrl = "https://www.globalsources.com/SITE/GSOL-MOBILE-APPS.HTM"; //Test Link
      
      var noAppDownloadUrl = "";
      var callAppObject = {
        items: {
          10101: {
            //Home
            pageCode: "10101",
          },
          20101: {
            //Recommended
            pageCode: "20101",
            index: "1",
          },
          50101: {
            //H5
            pageCode: "50101",
            url: "https://www.baidu.com", // 必选：跳转的链接
            title: "秒杀", // 标题可选
          },
          10108: {
            //New Product
            pageCode: "10108",
            isNewProduct: "1", // 必选：0 表示FromOurExhibitorsPage 1表示：New Products
          },
          10112: {
            //Ready To Order
            pageCode: "10112",
          },
          10140: {
            //TradeShow
            pageCode: "10140",
          },
          10150: {
            //Top 20
            pageCode: "10150",
          },
          10201: {
            //pp详情
            pageCode: "10201",
            productId: "12345678", //商品 id
            id: "12345678", //商品 id
          },
          40501: {
            //订单列表
            pageCode: "40501",
          },
          40502: {
            pageCode: "40502",
            orderId: "123456",
            id: "123456",
          },
          10205: {
            pageCode: "10205",
            supplierId: "00001",
            id: "00001",
          },
        },
      };
      var openListener = function(func){
        var visibilitychange = function () {
          var tag = document.hidden || document.webkitHidden;
          if(tag){
            clearTimeout(checkOpen);
            document.removeEventListener("visibilitychange", visibilitychange, false);
            document.removeEventListener("webkitvisibilitychange", visibilitychange, false);
          };
        };
        document.addEventListener("visibilitychange", visibilitychange, false);
        document.addEventListener("webkitvisibilitychange", visibilitychange, false);
        window.addEventListener(
          "pagehide",
          function () {
            clearTimeout(checkOpen);
          },
          false
        );
        var checkOpen = setTimeout(function(){func()}, 3000);
      }
      var createTipBox = function(){
        var tipOverlayout = '<div style="position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;z-index:9999">'+
        '<div class="tipBox" style="margin: 50px auto; width:75vw;font-size: 14px;text-align: center;overflow: hidden;">'+
          '<h2 class="tips" style="margin-bottom:15px;font-size:20px;font-weight:500;">如需浏览,请长按网址复制后用浏览器访问</h2>'+
            '<p class="link">'+noAppDownloadUrl+'</p>'+
          '</div>'+
        '</div>';
        document.querySelector("body").insertAdjacentHTML("beforeend",tipOverlayout);
      }
      var joinSearch = function (obj) {
        var str = "";
        for (var item in obj) {
          str += item + "=" + encodeURIComponent(obj[item]) + "&";
        }
        str = str.slice(0, str.length - 1);
        return str;
      };
      var getBrowser = (function () {
        var u = navigator.userAgent,
          app = navigator.appVersion;
        return {
          ios: u.search(/\(i[^;]+;( U;)? CPU.+Mac OS X/) > -1,
          android: u.indexOf("Android") > -1 || u.indexOf("Adr") > -1,
          weibo: u.search(/WeiBo/i) > -1,
          weixin: u.search(/MicroMessenger/i) > -1,
          qq: u.search(/\sQQ/i) > -1,
        };
      })()
      var initOpenApp = function(that,pageCode){
        var serachUrl = "",options = {};
        var callAppUrl = that.baseScheme + "://" + that.baseHost;
        // var serachUrl = window.location.search.split("?")[1];
        if (getBrowser.ios) noAppDownloadUrl = that.appIosUrl;
        if (getBrowser.android) noAppDownloadUrl = that.appAndroidUrl;
        if (getBrowser.weibo || getBrowser.weixin || getBrowser.qq) {
          createTipBox()
          return;
        }
        if (window.location.search.length == 0 && pageCode) {
          options = callAppObject.items[pageCode];
          serachUrl = "?"+joinSearch(options);
        } else if(window.location.search.length != 0) {
          serachUrl = "?"+window.location.search.split("?")[1];
        }
        callAppUrl += serachUrl;
        console.log(callAppUrl)//Test
        window.location.href = callAppUrl;
        openListener(function () {
          if (!noAppDownloadUrl) return;
          window.location.href = noAppDownloadUrl;
        });
      }
      this.open = function(pageCode){
        initOpenApp(this,pageCode)
      }
      // initOpenApp(this);
    }
    var appCall = new OpenApp();  
     
    console.log(appCall)
    // appCall.createTipBox();
  </script>
</html>
<!-- 已知问题-->
<!-- 
  1.Scheme Url 打开浏览器会默认有弹窗让用户确认是否打开APP，
  因无法判断用户是否有安装APP，添加了判断页面是否隐藏的计时器三秒后跳转下载链接，如果用户超过三秒没有点击确认跳转APP也会跳转到下载页
  （弹窗无法去除，系统行为，参考其他APP方案，页面不自动跳转由用户去选择“安装应用”和“打开应用”）
  2.IOS上若用户未安装 APP ，也会有一个提示窗，告知 “打不开该网页，因为网址无效”
  （Universal Link(通用链接)是Apple在iOS9推出的一种能够方便的通过传统HTTPS链接来启动APP的功能，
  可以使用相同的网址打开网址和APP。当你的应用支持Universal Link(通用链接)，当用户点击一个链接是可以跳转到你的网站并获得无缝重定向到对应的APP，
  且不需要通过Safari浏览器。）
-->
